$dark-neutral-black: #1e1e1e;
$dark-neutral-grey: #9f9f9f;
$dark-neutral-grey-lighter: #cdcdcd;
$dark-neutral-white: #e8e8e8;

$dark-background: $dark-neutral-black;
$dark-background-grey-lighter: #2D2D2D;
$dark-background-lighter-rgba-overlay: linear-gradient(0deg, rgba(45, 45, 45, 0.8), rgba(45, 45, 45, 0.8));

$dark-primary-yellow: #eac435;
$dark-primary-yellow-lighter: #f0d671;
$dark-primary-blue: #6994e6;
$dark-primary-purple: #ae67e6;

$dark-system-red: #e22d44;
$dark-system-green: #03cea4;
