$dark-neutral-black: #1e1e1e;
$dark-neutral-grey: #9f9f9f;
$dark-neutral-grey-lighter: #cdcdcd;
$dark-neutral-white: #e8e8e8;

$dark-background: $dark-neutral-black;
$dark-background-grey-lighter: #2d2d2d;

$dark-primary-yellow: #EAC435;
$dark-primary-yellow-lighter: #F0D671;
$dark-primary-blue: #6994E6;
$dark-primary-purple: #AE67E6;

$dark-system-red: #e22d44;
$dark-system-green: #03cea4;
