/*=======================*/
/*      general          */
/*=======================*/

html,
body {
  min-height: 100vh;
}

body {
  background: url("../public/texture.png"),
    linear-gradient(
      160deg,
      rgb(30, 30, 30) 45%,
      rgb(40, 40, 40) 70%,
      rgb(50, 50, 50) 100%
    );
  background-repeat: repeat, no-repeat;
  background-size: 50px 50px, 100% 100%;
  background-position: top, center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

/*=======================*/
/*      card             */
/*=======================*/

.card {
  padding: 20px;
  height: 450px;
  width: 100%;
  margin-top: 15px;
  background: url("../public/texture.png"), rgba(151, 150, 150, 0.1);
  background-size: 50px 50px;
  color: white;
  text-align: center;
  border-radius: 8px;
  position: relative;
  backdrop-filter: blur(8px);
  border: 0px;
  overflow: hidden;
}

.card.small {
  height: 380px;
}

.card.xsmall {
  height: 280px;
}

.cardList {
  overflow: scroll;
  position: relative;
  width: 100%;
  height: 400px;
  padding-bottom: 50px;
  padding-top: 30px;
}

.cardList::-webkit-scrollbar {
  display: none;
}

/*=======================*/
/*      Image            */
/*=======================*/

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 12px;
  border: solid 2px white;
  width: 140px;
  height: 140px;
}

.fill.small {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 12px;
  border: solid 2px white;
  width: 37px;
  height: 37px;
  margin-left: 10px;
  margin-right: 10px;
}

.statusImage {
  position: absolute;
  left: 38px;
  bottom: 10px;
}

.containerScrollHorizon {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 100px;
  transform: translateX(0%);
}

.containerScrollHorizon.midle {
  top: 30vh;
}

.containerScrollVertical {
  display: flex;
  width: 0px;
  height: 60px;
  position: relative;
  left: 30%;
  transform: rotate(-90deg) translate(-2000px);
  z-index: -1;
}

.containerScrollVertical.inv {
  transform: rotate(90deg) translate(-50px);
}

.textScroll {
  color: rgba(255, 255, 255, 0.1);
  font-size: 200px;
  white-space: nowrap;
  animation: scrollTxt 180s linear infinite;
}

.textScroll.inv {
  color: transparent;
  -webkit-text-stroke: 2px #fff;
  animation: scrollTxt 200s linear infinite;
}

@keyframes scrollTxt {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

table {
  color: white;
  width: 100%;
  backdrop-filter: blur(8px);
}

td,
th {
  border: 1px solid #fff;
  padding: 20px;
  font-size: 17px;
}

th {
  text-align: center;
}

.overlay {
  background: rgba(151, 150, 150, 0.1);
  border-radius: 10px;
  position: absolute;
  top: 45%;
  left: 40%;
  width: 20%;
  height: 10%;
  z-index: 99;
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}
