body
{
    background: url('../asset/Texture.png'), url('../asset/Red.png'), linear-gradient(160deg, rgba(5,5,5,1) 45%, rgba(30,30,30,1) 70%, rgba(75,75,75,1) 100%);
    background-repeat: repeat, no-repeat, no-repeat;
    background-size: 40% 40%, 70% 26%, 100% 100%;
    background-position: top,  top, center;
    background-attachment:  fixed, local;
}

/*=======================*/
/*       home page       */
/*=======================*/

.illustration
{
    background-image: url('../asset/Illustration.png');
    background-size: 80% 80%;
    background-position: center;
    margin-top: 80px;
    background-repeat: no-repeat;
    width: 100vw;
    height: 2000px;
    background-attachment:fixed;
    
}

.titleAndButton
{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title
{
    color: white;
    font-family: 'Lacquer', cursive;
    font-size: 70px;
    margin-top: 10%;
}

.title.small
{
    font-size: 30px;
}

/*=======================*/
/*       top bar         */
/*=======================*/

.containerTopBar
{
    width: 100vw;
    height: 80px;
    background: url('../asset/Texture.png'), rgba(5,5,5,1);
    background-repeat: repeat, no-repeat;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 99;
}

.elementTopBar
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}

.searchBar
{
    border-top: 0px;
    border-bottom: solid white 1px;
    border-left: 0px;
    border-right: 0px;
    background-color: rgba(0, 0, 0, 0);
    margin-right: 50px;
    width: 200px;
    font-family: 'Saira', sans-serif;
}

.logoSearchBar
{
    position: absolute;
    margin-left: 188px;

}

.leaderBoardLink
{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 6px;
    font-family: 'Rubik Vinyl', cursive;
}

.avatar
{
    margin-bottom: 3px;
    margin-top: 5px;
}



/*=======================*/
/*      play button      */
/*=======================*/

.shadowContainer
{
    display: flex;
    justify-content: center;
    
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.shadowContainer.MB
{
    margin-bottom: 15%;
}

.shadowContainer.leaderBoard
{
    flex-direction: row;
}

.playButton
{
    background: url('../asset/Texture.png'), #eac435;
    width: 25%;
    height: 90px;
    border-radius: 8px;
    border: solid 1px white;
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
    text-shadow: 2px 2px white;
    padding: 5px;
    position: absolute;
    transition: transform 0.3s ease;
    transform: translateX(0px);
    margin: auto;
    margin-top: 20px;
    z-index: 2;
}

.playButton:hover
{
    transform: translateX(-10px) translateY(-10px);
}

.playButtonShadow
{
    width: 25%;
    height: 90px;
    border-radius: 8px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border: 0px;
    margin-top: 20px;;
    z-index: 1;
}

/*=======================*/
/*      list             */
/*=======================*/

.cardContainer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.card
{
    padding: 20px;
    height: 300px;
    margin: 10px;
    background: url('../asset/Texture.png'), rgba(255,255,255,0.1);
    color: white;
    text-align: center;
    border-radius: 8px;
    font-family: 'Rubik Vinyl', cursive;
    overflow: scroll;
    position: relative;
}


/*=======================*/
/*      entity           */
/*=======================*/

.entity
{
    background: url('../asset/Texture.png') #1e1e1e;
    border : 1px solid white;
    border-radius: 10px;
    width: 280px;
    height: 60px;
    padding: 0px;
    z-index: 2;
    transition: transform 0.3s ease;
    transform: translateX(0px);
}

.entity:hover
{
    transform: translateX(-10px) translateY(-10px);
}

.entityShadow
{
    background-color: white;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    width: 280px;
    height: 60px;
    padding: 0px;
}

.cardContainer .entity .L
{
    margin-right: 20px;
}

.cardContainer .entity .R
{
    margin-left: 20px;
}

.entityText h3
{
    font-family: 'Lacquer', cursive;
    margin: 0px;
    margin-bottom: 0px;
}

.entityText p
{
    font-family: 'Saira', sans-serif;
    color: #9f9f9f;
    margin:0px;
}

.statusImage
{
    position: absolute;
    left: 38px;
    bottom: 10px;
}


/*=======================*/
/*      leaderboard      */
/*=======================*/

.leaderBoardContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
}