body
{
    background: url('../asset/Texture.png'), url('../asset/Red.png'), linear-gradient(160deg, rgba(5,5,5,1) 45%, rgba(30,30,30,1) 70%, rgba(75,75,75,1) 100%);
    background-repeat: repeat, no-repeat, no-repeat;
    background-size: 40% 40%, 90% 30%, 100% 100%;
    background-position: top,  top, center;
    background-attachment:  fixed, local;
    width: 100vw;
}


/*=======================*/
/*       home page       */
/*=======================*/

.illustration
{
    background-image: url('../asset/Illustration.png');
    background-size: 90% 80%;
    background-position: center;
    margin-top: 80px;
    background-repeat: no-repeat;
    width: 100vw;
    height: 2000px;
    background-attachment:fixed;
    
}

.title
{
    color: white;
    font-family: 'Lacquer', cursive;
    font-size: 6vw;
    margin-top: 150px;
    width: auto;
}

.title.small
{
    font-size: 30px;
    text-align: center;
}


/*=======================*/
/*       top bar         */
/*=======================*/

.containerTopBar
{
    width: 100vw;
    height: 80px;
    background: url('../asset/Texture.png'), rgba(5,5,5,1);
    background-repeat: repeat, no-repeat;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 99;
}

.elementTopBar
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}

.searchBar
{
    border-top: 0px;
    border-bottom: solid white 1px;
    border-left: 0px;
    border-right: 0px;
    background-color: rgba(0, 0, 0, 0);
    margin-right: 50px;
    width: 200px;
    font-family: 'Saira', sans-serif;
}

.logoSearchBar
{
    position: absolute;
    margin-left: 188px;

}

.leaderBoardLink
{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 6px;
    font-family: 'Rubik Vinyl', cursive;
}

.avatar
{
    margin-bottom: 3px;
    margin-top: 5px;
    margin-left: 10px;
}



/*=======================*/
/*      play button      */
/*=======================*/

.shadowContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.shadowContainer.MB
{
    padding-bottom: 150px;
    padding-top: 50px;
}

.shadowContainer.leaderBoard
{
    flex-direction: row;
}

.playButton
{
    background: url('../asset/Texture.png'), #eac435;
    width: 35%;
    height: 15vh;
    border-radius: 8px;
    border: solid 1px white;
    font-family: 'Press Start 2P', cursive;
    font-size: 6vw;
    text-shadow: 2px 2px white;
    padding: 5px;
    position: absolute;
    transition: transform 0.3s ease;
    transform: translateX(0px);
    margin: auto;
    margin-top: 60px;
    z-index: 2;
}

.playButton:hover
{
    transform: translateX(-10px) translateY(-10px);
}

.playButtonShadow
{
    width: 35%;
    height: 15vh;
    border-radius: 8px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border: 0px;
    margin-top: 60px;;
    z-index: 1;
}

.playMenuContainer
{
    background: url('../asset/Texture.png'), rgba(255,255,255,0.1);
    color: white;
    text-align: start;
    border-radius: 8px;
    font-family: 'Saira', sans-serif;
    width: 100%;
}

.playMenuEntity
{
    padding: 10px;
}

.playMenuEntity:hover
{
    background-color: white;
    color:rgba(0, 0, 0, 1);
}

.playMenuEntity.bar
{
    border-bottom: 1px solid white;
}

/*=======================*/
/*      list             */
/*=======================*/

.cardContainer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
}

.card
{
    padding: 20px;
    height: 450px;
    width: 100%;
    margin: 10px;
    background: url('../asset/Texture.png'), rgba(255,255,255,0.1);
    color: white;
    text-align: center;
    border-radius: 8px;
    font-family: 'Rubik Vinyl', cursive;
    overflow: scroll;
    position: relative;
}


/*=======================*/
/*      entity           */
/*=======================*/

.entity
{
    background: url('../asset/Texture.png') #1e1e1e;
    border : 1px solid white;
    border-radius: 10px;
    width: 250px;
    height: 60px;
    z-index: 2;
    transition: transform 0.3s ease;
    transform: translateX(0px);

}

.entity.small
{
    width: 200px;
}

.entity.big
{
    width: 360px;
}



.entity:hover
{
    transform: translateX(-15px) translateY(-10px);
    
}


.entityShadow
{
    background-color: white;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    width: 250px;
    height: 60px;
}

.entityShadow.small
{
    width: 200px;
}

.entityShadow.big
{
    width: 360px;
}


h3
{
    font-family: 'Lacquer', cursive;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    font-size: 2vh;
}

p
{
    font-family: 'Saira', sans-serif;
    color: #9f9f9f;
    margin:0px;
    font-size: 2vh;
    text-align: center;
}

.statusImage
{
    position: absolute;
    left: 38px;
    bottom: 10px;
}

.L
{
    margin-right: 20px;
}

.avatarText
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.entityText
{
    margin-left: 10px;
}

/*=======================*/
/*      leaderboard      */
/*=======================*/

.leaderBoardContainer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

.card.leaderBoard
{
    height: auto;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.rank
{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #eac435;
    margin-bottom: 10px;
    font-family:  'Saira', sans-serif;
    color: white;
    text-align: center;
   
}
.level
{
    border-radius: 10px;
    background-color: #9f9f9f;
    font-family:  'Saira', sans-serif;
    color: white;
    width: 55px;
    height: 30px;
    padding-top: 5px;
    margin-bottom: 15px;
}

.leaderBoardDoubleColumn
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

/*=======================*/
/*      friend           */
/*=======================*/

.friendMenuContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonFriend
{
    width: 50%;
    height: 60px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    background-color: #9f9f9f;
    font-size: 20px;
    border: 0px;
}

.buttonFriend:hover
{
    background-color: #eac435;
}

