@import "variables";

.pixel {
  font-family: "Press Start 2P", cursive;
  margin-bottom: 0px;
 
}
//h2

.laquer {
  font-family: "Lacquer", cursive;
  margin: 0px;
 
  color: $dark-neutral-white;
}
//h3

.saira {
  font-family: "Saira", sans-serif;
  color: $dark-neutral-grey;
  margin: 0px;
 
  text-align: start;
}
//p
