@import "variables";

.container {
  margin: 20px 0;
  width: 100%;

  display: flex;
  gap: 10px;
  align-items: center;
}

.divider {
  border: 0;
  border-bottom: 1px $dark-neutral-grey solid;
  width: 100%;
}
