@import "../variables";

.container {
  padding: 30px;
  width: 367px;

  display: flex;
  gap: 14px;
  flex-direction: column;
  align-items: center;

  color: #E8E8E8;
  text-align: center;

  * {
    margin: 0;
  }
}
